---
title: Kontak
layout: default
bodyClass: "page-home"
---
<div class="container mt-4">
    <h1 class="title">Hubungi Kami</h1>
    <form
        action="https://formspree.io/f/mrgwqarz"
        method="POST"
    >
        <div class="row">
            <div class="col">
                <label for="email" class="form-label">Email: </label>
            </div>
            <div class="col">
                <label for="name" class="form-label">Nama: </label>
            </div>
        </div>
        <div class="row">
            <div class="col" style="width: 100% !important; max-width: 100%;">
                <input type="email" class="form-control" id="email" name="email" aria-describedby="email" style="width: 100% !important; max-width: 100%; padding: 0.4rem;" placeholder="emailkamu@mail.com" required>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="name" name="name" aria-describedby="text" style="width: 100% !important; max-width: 100%; padding: 0.4rem;" placeholder="John Doe" required>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <label for="message" class="form-label">Isi Pesan: </label>
            </div>            
        </div>
        <div class="row">
            <div class="col">
                <textarea type="text" class="form-control" id="message" name="message" aria-describedby="text" style="width: 100% !important; max-width: 100%; padding: 0.4rem;" placeholder="Isi pesan yang ingin Anda sampaikan ke kami." maxlength="255" rows="5" cols="50"></textarea>
            </div>            
        </div>
        <button type="submit" class="button-red mt-2" style="border: 0;">Submit</button>
    </form>
</div>

<div class="container mt-4">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <h1 class="title">{{page.title}}</h1>
                {% include call.html show_button=false %}
                <div class="content mt-4">{{content}}</div>
            </div>
        </div>
    </div>
</div>
